[submodule "cinch"]
	path = cinch
	url = ../../laristra/cinch.git
[submodule "flecsi"]
	path = flecsi
	url = git@github.com:rtohid/flecsi.git
[submodule "ristra"]
	path = ristra
	url = git@github.com:rtohid/libristra.git
[submodule "specializations"]
	path = specializations
	url = git@github.com:rtohid/flecsi-sp.git
